header{
    background-image: url(./images/header/Headerback.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.filtre{
    background: linear-gradient(150deg, rgba(96,160,216,0.5) 0%, rgba(178,210,52,0.5) 100%);
    position: relative;
    z-index: 1;
    width: 100vw;
    height: 100%;

    nav{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .logo{
            position: relative;
            top: 25px;
            left: 40px;
        }

        .menu,ul,li{
            display: flex;
            align-items: center;
            margin-right: 50px;

            a {
                color: #fff;
                font-size: 18px;
                font-weight: 300;

                &:hover{
                    border-bottom: #fff 2px solid;
                    padding-bottom: 5px;
                    transition: all 0.4s;
                }
            }

            span{
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 5px;
                background-color: #fff;
                width: 160px;
                height: 39px;

                a{
                    color: $secondary-color;
                }
            }
        }
    }

    .header-content{
        color: #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 80vh;

        h1{
            font-size: 126px;
            font-weight: 500;
        }

        p{
            font-size: 54px;
            font-weight: italic;
            transform: translateX(100px) translateY(-30px) rotate(-9deg);
        }
    }

    .header-icon {
        display: flex;
        justify-content: flex-end ;
        margin-right: 47px;
        
        a{
            color: #fff;
            font-size: 31px;
            margin-right: 20px;
        }
        
    }

}